.inscricoesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 5% 10%;
    gap: 3rem;
}

.inscricoesContainer>header {
    text-align: center;
}

.inscricoesCu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.inscricoesCu picture img {
    min-width: 100%;
}

.inscricoesCu form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inscricoesCu form>header {
    font-weight: var(--fonte-semi-negrito);
}

.inscricoesCu form input {
    background-color: var(--claro);
    font-size: var(--fonte-tamanho-h4);
    border-radius: .5rem;
    padding: 1rem 2rem;
    border: none;
}

.inscricoesCu form button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--fonte-tamanho-h4);
    font-weight: var(--fonte-medio);
    background-color: var(--preto);
    color: var(--branco);
    padding: 1rem 2rem;
    border-radius: .5rem;
    max-width: 60%;
}

.inscricoesCu form button:hover {
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .inscricoesCu {
        flex-direction: row;
    }

    .inscricoesCu picture img {
        max-width: 75%;
    }

    .inscricoesCu picture {
        max-width: 35%;
    }

    .inscricoesCu form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 40%;
    }
}
