.inicioCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--claro);
}

.inicioCont>aside,
picture {
    max-width: 100%;
}

.inicioCont>picture img {
    width: 100vw;
} 

.inicioConteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10% 5%;
    gap: 2rem;
    width: 100vw;
}

.inicioConteudo>header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inicioConteudo>header h1 {
    font-size: var(--fonte-tamanho-h1);
    font-weight: var(--fonte-semi-negrito);
}

.inicioConteudo>header p {
    font-size: var(--fonte-tamanho-normal);
    font-weight: var(--fonte-normal);
}

.inicioConteudo>a {
    font-size: var(--fonte-tamanho-h4);
    font-weight: var(--fonte-medio);
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.inicioConteudo>a:hover {
    opacity: .8;
}

	
    .inicioCont>aside,
    .inicioCont>picture {
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }

    .inicioConteudo {
        align-items: flex-start;
        text-align: left;
    }


