/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /*========== Cores ==========*/
  --verde: #2f9e41;
  --vermelho: #cd191e;
  --preto: #000;
  --escuro: #0d1117;
  --branco: #fff;
  --claro: #f5f5f5;


  --fonte-principal: "Poppins", sans-serif;

  /*========== Tamanho da fonte ==========*/
  --fonte-tamanho-h1: 2.5rem;
  --fonte-tamanho-h2: 2.15rem;
  --fonte-tamanho-h3: 1.6rem;
  --fonte-tamanho-h4: 1.25rem;
  --fonte-tamanho-normal: 1rem;
  --fonte-tamanho-pequeno: 0.75rem;

  /*========== Peso da fonte ==========*/
  --fonte-normal: 300;
  --fonte-medio: 500;
  --fonte-semi-negrito: 600;
  --fonte-negrito: 800;
}

::selection {
  background-color: var(--verde);
  color: var(--escuro);
}

::-webkit-scrollbar {
  display: none;
}

:focus {
  outline: none;
}

input, textarea, select, button {
  touch-action: manipulation;
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--branco);
}

body {
  background-color: var(--cor-do-body);
  font-size: var(--fonte-tamanho-normal);
  min-height: 100dvh;
}

h1 {
  font-size: var(--fonte-tamanho-h1);
  font-weight: var(--fonte-semi-negrito);
}

h2 {
  font-size: var(--fonte-tamanho-h2);
  font-weight: var(--fonte-semi-negrito);
}

h3 {
  font-size: var(--fonte-tamanho-h3);
  font-weight: var(--fonte-medio);
}

h4 {
  font-size: var(--fonte-tamanho-h4);
  font-weight: var(--fonte-medio);
}

p {
  font-size: var(--fonte-tamanho-normal);
  font-weight: var(--fonte-normal);
}

a {
  color: var(--escuro);
}

img {
  cursor: pointer;
  max-width: 100%;
  max-height: auto;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}


